
{% extends "base/base.html" %}
{% load i18n %}
{% block body_block %}
<div class="content-section" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <form method="POST" action="{% url 'shifts:shift_create' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{% trans 'Add New Shifts' %}</legend>
                {{form.as_p}}
            </fieldset>
            <div class="form-group">
                <input class="btn btn-outline-info" type="submit" name="save_one" value="{% trans 'Save' %}" />
                <input class="btn btn-outline-info" type="submit" name="add_new" value="{% trans 'Save and add another' %}" />
            </div>
        </form>
    </div>

<script>
    $('#id_all_day').click(function () {
      var optionSelected = $('#id_all_day').is(':checked');
      $('#id_start_time').prop('disabled' , optionSelected);
      $('#id_end_time').prop('disabled', optionSelected);

    });
  </script>
{% endblock body_block %}

