venv/*
.idea/*

reservation/__pycache__/*

base/__pycache__/*
doctors/__pycache__/*
reservations/__pycache__/*
shifts/__pycache__/*
patient/__pycache__/*

doctors/models/__pycache__/

shifts/*
reservations/*
patient/*

patient/migrations/__pycache__/*
doctors/migrations/__pycache__/*
base/migrations/__pycache__/*
shifts/migrations/__pycache__/*
reservations/migrations/__pycache__/*


media/doctors/dr_degree_copy/*
media/doctors/dr_pics/*
media/patient/patient_pics/*


!media/doctors/dr_pics/.gitkeep
!media/doctors/dr_degree_copy/.gitkeep
!media/patient/patient_pics/.gitkeep

reservation/.env