venv/*
.idea/*
base/__pycache__/*
doctors/__pycache__/*
reservation/__pycache__/*
shifts/*

media/doctors/dr_degree_copy/*
media/doctors/dr_pics/*
media/patient/patient_pics/*

!media/patient/patient_pics/.gitkeep