{% extends 'base/base.html' %}
{% load i18n %}
{% block body_block %}


<div class="container">
    <div class="jumbotron">
      <h1>{% trans 'Login here' %}</h1>
      <form method="post" action="{% url 'doctor:login' %}">
          {% csrf_token %}
            {{ form.as_p }}
             {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
            {% endfor %}
                    <input type="submit" name="" value="Login">
      </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                {% trans 'Need An Account?' %} <a class="ml-2" href="{% url 'doctor:register' %}">{% trans 'Sign Up Now' %}</a>
            </small>
        </div>
    </div>
</div>

{% endblock %}