{% extends "base/base.html" %}
{% block body_block %}
    <h1> Doctors:</h1>
    <div class="search-bar mt-sm-2 mr-2">
      <form action="{% url 'reservations:patient_search_result' %}" method="get">
        <input name="query" type="text" placeholder="Search...">
      </form>
    </div>
    {% for doctor in doctors %}
        <div class="container">
           <table class="table">
               <tbody>
               <tr>
                   <td><h2>{{ doctor.name }} </h2></td>
                   <td><h2>{{ doctor.specialty_id.specialty }} </h2></td>
                   <td><a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'reservations:reservation_form_view' doctor.id %}">Reservation</a></td>
               </tr>
               </tbody>
           </table>
        </div>
    {% endfor %}
{% endblock body_block %}