{% extends "base/base.html" %}
{% block body_block %}
<h1> My Reservations:</h1>

{% for reservation in reservations %}
    {% if reservation.patient_id == user.patient %}
    <div class="container">
       <table class="table">
           <tbody>
           <tr>
               <td><h2>{{ reservation.doctor_id.name }} </h2></td>
               <td><h2>{{ reservation.status }} </h2></td>
               {% if reservation.status == 'closed' %}
               <td><a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'rate:rate-form-view' reservation.pk %}">Rate</a></td>
               {% endif %}
           </tr>
           </tbody>
       </table>
    </div>
    {% endif %}
{% endfor %}
{% endblock body_block %}