
{% extends "base/base.html" %}
{% block body_block %}
    <h1> Reservations:</h1>
            <div class="search-bar mt-sm-2 mr-2">
              <form action="{% url 'reservations:doc_search_result' %}" method="get">
                <input name="query" type="text" placeholder="Search...">
              </form>
           </div>
    {% for reservation in reservations %}
        <div class="container">
           <table class="table">
               <tbody>
               <tr>
                   <td><h2>{{ reservation.patient_id.name }} </h2></td>
                   <td><h2>{{ reservation.status }} </h2></td>
                   {% if reservation.status == 'new' %}
                   <td>
                       <form method="POST" action="{% url 'reservations:status_change' reservation.pk %}">
                                       {% csrf_token %}
                            <input class="btn btn btn-primary" name="confirm" type='submit' value="Confirm" />
                            <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'reservations:rejected-form' reservation.pk %}">Reject</a>
                       </form>
                   </td>
                   {% elif reservation.status == "confirm" %}
                   <td>
                       <form method="POST" action="{% url 'reservations:status_change' reservation.pk %}">
                                       {% csrf_token %}
                           <a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'reservations:rejected-form' reservation.pk %}">Reject</a>
                           <input class="btn btn btn-success" name="complete" type='submit' value='Complete' />
                       </form>
                   </td>
                   {% endif %}
               </tr>
               </tbody>
           </table>
        </div>
    {% endfor %}
{% endblock body_block %}